@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --bg-color: #fcfcfc;
  --primary-color: #884afa;
  --secondary-color: #e5e5e8;
  --background-color: #110c25;
}
h2 {
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
}
